<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbConnection" connectionString="Server=tcp:pdsagame.database.windows.net,1433;Initial Catalog=PDSAGame;Persist Security Info=False;User ID=pdsaadmin;Password=Pdsa@1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;"/>
	</connectionStrings>
</configuration>